body {
    margin: 0;    
    padding-top: 60px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(249, 246, 246);
    font-family: Roboto, Arial;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }

@media (max-width: 1000px) {
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
} 

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
} 
  
  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .thumbnail-row-1,
  .thumbnail-row-2,
  .thumbnail-row-3,
  .thumbnail-row-4,
  .thumbnail-row-5,
  .thumbnail-row-6,
  .thumbnail-row-7,
  .thumbnail-row-8 {
    position: relative;
  }
  
  .thumbnail-1,
  .thumbnail-2,
  .thumbnail-3,
  .thumbnail-4,
  .thumbnail-5,
  .thumbnail-6,
  .thumbnail-7,
  .thumbnail-8 {
    width: 100%;
    margin-top: 20px;
  }

  .video-time-1,
  .video-time-2,
  .video-time-3,
  .video-time-4,
  .video-time-5,
  .video-time-6,
  .video-time-7,
  .video-time-8 {
    font-size: 12px;
    padding: 5px;
    padding-top: 3px;
    font-weight: bold;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
  }
  
  .video-info-div-1,
  .video-info-div-2,
  .video-info-div-3,
  .video-info-div-4,
  .video-info-div-5,
  .video-info-div-6,
  .video-info-div-7,
  .video-info-div-8 {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
  
  .profilepicdiv-1,
  .profilepicdiv-2,
  .profilepicdiv-3,
  .profilepicdiv-4,
  .profilepicdiv-5,
  .profilepicdiv-6,
  .profilepicdiv-7,
  .profilepicdiv-8 {
    margin-top: 10px;
  }
  
  .profilepic-1,
  .profilepic-2,
  .profilepic-3,
  .profilepic-4,
  .profilepic-5,
  .profilepic-6,
  .profilepic-7,
  .profilepic-8 {
    border-radius: 50%;
    width: 40px;
  }
  
  .videodescdiv-1,
  .videodescdiv-2,
  .videodescdiv-3,
  .videodescdiv-4,
  .videodescdiv-5,
  .videodescdiv-6,
  .videodescdiv-7,
  .videodescdiv-8 {
    margin-top: 10px;
  }
  
  .video-name-1,
  .video-name-2,
  .video-name-3,
  .video-name-4,
  .video-name-5,
  .video-name-6,
  .video-name-7,
  .video-name-8 {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }
  
  .videoname-link-1:link,
  .videoname-link-2:link,
  .videoname-link-3:link,
  .videoname-link-4:link,
  .videoname-link-5:link,
  .videoname-link-6:link,
  .videoname-link-7:link,
  .videoname-link-8:link {
    text-decoration: none;
    color: black;
  }
  
  .videoname-link-1:visited,
  .videoname-link-2:visited,
  .videoname-link-3:visited,
  .videoname-link-4:visited,
  .videoname-link-5:visited,
  .videoname-link-6:visited,
  .videoname-link-7:visited,
  .videoname-link-8:visited {
    text-decoration: none;
    color: black;
  }
  
  .videoname-link-1:hover,
  .videoname-link-2:hover,
  .videoname-link-3:hover,
  .videoname-link-4:hover,
  .videoname-link-5:hover,
  .videoname-link-6:hover,
  .videoname-link-7:hover,
  .videoname-link-8:hover {
    text-decoration: none;
    color: black;
  }
  
  .videoname-link-1:active,
  .videoname-link-2:active,
  .videoname-link-3:active,
  .videoname-link-4:active,
  .videoname-link-5:active,
  .videoname-link-6:active,
  .videoname-link-7:active,
  .videoname-link-8:active {
    text-decoration: none;
    color: black;
  }
  
  .channel-1,
  .channel-2,
  .channel-3,
  .channel-4,
  .channel-5,
  .channel-6,
  .channel-7,
  .channel-8 {
    margin-top: 10px;
    font-weight: 600px;
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .channel-link-1:link,
  .channel-link-2:link,
  .channel-link-3:link,
  .channel-link-4:link,
  .channel-link-5:link,
  .channel-link-6:link,
  .channel-link-7:link,
  .channel-link-8:link {
    text-decoration: none;
    color: rgb(96, 96, 96);
  }
  
  .channel-link-1:visited,
  .channel-link-2:visited,
  .channel-link-3:visited,
  .channel-link-4:visited,
  .channel-link-5:visited,
  .channel-link-6:visited,
  .channel-link-7:visited,
  .channel-link-8:visited {
    text-decoration: none;
    color: rgb(96, 96, 96);
  }
  
  .channel-link-1:hover,
  .channel-link-2:hover,
  .channel-link-3:hover,
  .channel-link-4:hover,
  .channel-link-5:hover,
  .channel-link-6:hover,
  .channel-link-7:hover,
  .channel-link-8:hover {
    text-decoration: none;
    color: rgb(96, 96, 96);
  }
  
  .channel-link-1:active,
  .channel-link-2:active,
  .channel-link-3:active,
  .channel-link-4:active,
  .channel-link-5:active,
  .channel-link-6:active,
  .channel-link-7:active,
  .channel-link-8:active {
    text-decoration: none;
    columns: rgb(96, 96, 96);
  }
  
  .stats-1,
  .stats-2,
  .stats-3,
  .stats-4,
  .stats-5,
  .stats-6,
  .stats-7,
  .stats-8 {
    font-weight: 600px;
    font-size: 12px;
    color: rgb(96, 96, 96);
  }
  